* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f1f1f1;
}

/* Header/Blog Title */
.banner {
  padding: 30px;
  text-align: center;
  background: white;
  background-image: url("images/20.jpg");
  height: 350px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.8;
}

.banner h1 {
  font-size: 50px;
}
.banner .text{
  padding-top: 100px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.left-column {
  float: left;
  width: 75%;
}

/* Right column */
.right-column {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.list-item {
  display: flex;
  justify-content: space-betwween;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-item.item {
  width: 100px;
  height:33.33%;
}
.list-item.item img {
  object-fit: cover;
  width: 100%;
}
.card img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.card-1 {
  background-color: #90e0ef;
}

.card-2 {
  widows: 50px;;
  background-color: #ffddd2;
}

.card-3 {
  background-color: #90e0ef;
}

/* Clear floats after the columns */
.content:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
/* Footer */
.footer {
  padding: 0px;
  text-align: center;
  background: #8e9aaf;
  margin-top: 10px;

}
.footer-copyright {
  background-color: #8e9aaf;
 
}
/* Phần viết css để có thể hiển thị đẹp trên mọi loại màn hình (Máy tính, điện thoại..) */
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.list-item {
  display: flex;
}

.list-item img {
  width: calc(100% / 3);
}